@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Savate:wght@900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* https://colorhunt.co/palette/e88d67f3f7ec006989005c78 */

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-roboto: "Roboto", sans-serif;
    --font-savate: "Savate", sans-serif;
    --font-insonsolata: "Inconsolata", sans-serif;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-tertiary: var(--tertiary);
    --color-tertiary-foreground: var(--tertiary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --shadow-2xs: 0 0 rgb(0 0 0 / 0.5);
    --shadow-xs: 0 0 2px 0 rgb(0 0 0 / 0.5);
    --shadow-sm: 0 0 3px 0 rgb(0 0 0 / 0.5), 0 0 2px -1px rgb(0 0 0 / 0.5);
    --shadow-md: 0 0 6px -1px rgb(0 0 0 / 0.5), 0 0 4px -2px rgb(0 0 0 / 0.5);
    --shadow-lg: 0 0 15px -3px rgb(0 0 0 / 0.5), 0 0 6px -4px rgb(0 0 0 / 0.5);
    --shadow-xl: 0 0 25px -5px rgb(0 0 0 / 0.5), 0 0 10px -6px rgb(0 0 0 / 0.5);
    --shadow-2xl: 0 0 50px -12px rgb(0 0 0 / 0.5);

    --drop-shadow-xs: 0 0 5px rgba(0, 0, 0, 0.4);
    --drop-shadow-sm: 0 0 5px rgba(0, 0, 0, 0.5);
    --drop-shadow-md: 0 0 5px rgba(0, 0, 0, 0.5);
    --drop-shadow-lg: 0 0 5px rgba(0, 0, 0, 0.75);
    --drop-shadow-xl: 0 0 10px rgba(0, 0, 0, 0.75);
    --drop-shadow-2xl: 0 0 10px rgba(0, 0, 0, 1);

    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-wiggle-sm: wiggle-sm 2s ease-in-out infinite;
    --animate-wiggle-lg: wiggle-lg 1s ease-in-out infinite;
        
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    @keyframes wiggle-sm {
        0%,
        100% {
            transform: rotate(-1deg);
        }
        50% {
            transform: rotate(1deg);
        }
    }

    @keyframes wiggle-lg {
        0%,
        100% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }
    }
}

:root {
    --radius: 0.625rem;
    --gradient: linear-gradient(115deg, oklch(48.62% 0.095 227.74) 0%, oklch(44.29% 0.086 227.29) 100%);
    --background: oklch(48.62% 0.095 227.74); /* oklch(44.07% 0.045 274.69); */
    --foreground: oklch(97.01% 0.015 123.04); /* oklch(1 0 0); */
    --card: var(--tertiary); /* oklch(1 0 0); */
    --card-foreground: var(--tertiary-foreground); /* oklch(0.145 0 0); */
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(48.62% 0.095 227.74); /* oklch(0.205 0 0); */
    --primary-foreground: oklch(97.01% 0.015 123.04); /* oklch(0.985 0 0); */
    --secondary: oklch(44.29% 0.086 227.29); /* oklch(0.97 0 0); */
    --secondary-foreground: oklch(97.01% 0.015 123.04); /* oklch(0.205 0 0); */
    --tertiary: oklch(73.07% 0.123 43.15);
    --tertiary-foreground: oklch(97.01% 0.015 123.04);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        background: var(--gradient);
        font-family: var(--font-inconsolata);
        min-height: 100vh;
    }

    /* re-enable curor pointer for buttons */
    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }

    h1 {
        @apply text-5xl text-white font-bold font-roboto
    }

    h2 {
        @apply text-4xl text-white font-bold font-roboto
    }

    h3 {
        @apply text-3xl text-white font-bold font-roboto 
    }

    h4 {
        @apply text-2xl text-white font-bold font-roboto 
    }

    h5 {
        @apply text-xl text-white font-bold font-roboto 
    }

    h6 {
        @apply text-xl text-white font-bold font-roboto 
    }

    p {
        @apply mb-6
    }

    p:last-of-type {
        margin-bottom: 0;
    }

    blockquote {
        @apply ml-6 pl-6 mr-4 my-4 italic font-roboto
    }

    blockquote::before {
        content: "\201C";
        @apply block text-5xl h-0 -left-[50px] relative font-savate
    }

    img[src$='#border'] {
        @apply w-[300px] mx-auto my-4 border-10 border-white drop-shadow-xl
    }

    img[src$='#border-right'] {
        transform: rotate(3deg);
        @apply w-[300px] mx-auto my-4 border-10 border-white drop-shadow-xl
    }

    img[src$='#border-left'] {
        transform: rotate(-3deg);
        @apply w-[300px] mx-auto my-4 border-10 border-white drop-shadow-xl
    }

    img[src$='#right'] {
        transform: rotate(3deg);
        @apply w-[150px] float-right pl-6 drop-shadow-xl
    }

    img[src$='#rotate-right'] {
        transform: rotate(3deg);
        @apply ml-10 drop-shadow-xl
    }

    img[src$='#rotate-left'] {
        transform: rotate(-3deg);
        @apply -ml-10 -mt-6 -mb-6 drop-shadow-xl
    }

    [data-slot=card] {
        a {
            @apply text-secondary
        }

        a:hover {
            @apply text-black duration-500 ease-in-out;
        }
    }

}